@{
    ViewData["Title"] = "Musik Mixer";
}

<div class="text-center">
    <h4>Musikmixer Songs hochladen:</h4>
    <form asp-controller="Home" asp-action="MultipleFiles"
          enctype="multipart/form-data" method="post">
        <input type="text" name="titel" required />
        <input type="file" multiple name="files" id="fileUpload" />
        <button type="submit">Upload</button>
    </form>
    @Html.Label((string)ViewBag.Error)

</div>
